/* placedOrders.css */
.order-card {
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .order-card img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .order-card-content {
    padding: 16px;
  }
  
  .order-card-title {
    font-size: 20px;
    font-weight: bold;
  }
  
  .order-card-user {
    margin-top: 10px;
  }
  
  /* Centering the content */
  ion-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Responsive grid */
  ion-grid {
    max-width: 800px;
    padding: 0 20px;
  }
  
  @media only screen and (max-width: 768px) {
    ion-grid {
      padding: 0 10px;
    }
  }
  