.products-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 60px; /* Adjust for top spacing */
}

.product-form {
  flex: 0 0 30%;
  position: sticky;
  top: 0;
  padding-right: 20px;
  box-sizing: border-box;
}

.products-list {
  flex: 0 0 70%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  overflow-y: auto;
  max-height: calc(100vh - 56px); /* Adjust for header height */
}

.products-list ion-card {
  flex: 0 0 calc(31% - 10px); /* 3 cards per row with some gap */
  box-sizing: border-box;
}

.product-image {
  height: 200px; /* Set a fixed height for the images */
  object-fit: cover; /* Ensure the image covers the area while maintaining aspect ratio */
  width: 100%; /* Make sure the image width is 100% of the container */
}
