.products-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.product-form {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.products-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.products-list ion-card {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.product-image {
  height: 200px;
  object-fit: cover;
  width: 100%;
}

@media (min-width: 768px) {
  .products-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .product-form {
    flex: 0 0 30%;
    padding-right: 20px;
    position: sticky;
    top: 0;
  }

  .products-list {
    flex: 0 0 70%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    overflow-y: auto;
    max-height: calc(100vh - 56px);
  }

  .products-list ion-card {
    flex: 0 0 calc(31% - 10px);
  }
}
